<p>Food Details</p>
<h2>Name: {{ foodName }}</h2>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Ingredients
        </th>
        <th scope="col" class="px-6 py-3">
          Component
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of ingredients; let i = index"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td scope="row" class="px-6 py-4 font-sm  whitespace-nowrap dark:text-white">
          {{ ingredient }}
        </td>
        <td class="px-6 py-4">
          {{ components[i] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
